/* SensorDashboard.css */

.sensor-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center elements horizontally */
  padding: 20px;
  width: 100%;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center charts horizontally */
  width: 100%;
  gap: 20px; /* Add gap between charts */
}

.chart {
  width: calc(33.33% - 20px); /* Set width for responsive layout */
  border: 2px solid #12755e; /* Turquoise border color */
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.chart h3 {
  text-align: center;
  color: #12755e;
  margin-bottom: 15px;
  font-size: 24px;
}

.logs-container {
  width: 100%;
}

.log-box {
  width: 100%;
  border: 2px solid #12755e;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow-y: auto;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.add-log-btn,
.clear-logs-btn {
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #12755e;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-log-btn:hover,
.clear-logs-btn:hover {
  background-color: #4ecdc4;
}

.logs h3 {
  margin-bottom: 15px;
}

.logs ul {
  list-style-type: none;
  padding: 0;
}

.logs ul li {
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .chart {
    width: calc(50% - 20px); /* Set width for responsive layout */
  }
}

@media (max-width: 600px) {
  .chart {
    width: calc(100% - 20px); /* Set width for responsive layout */
  }
}
